html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn-start {
  width: 180px;
  height: 60px;
  background-color: green;
  border-style: none;
  color: white;
  border-radius: 5px;
}

.btn-stop {
  background-color: red;
  width: 180px;
  height: 60px;

  border-style: none;
  color: white;
  border-radius: 5px;
}


/* body.switch-color {
  

} */